alias l='ls -lah'

# ack is http://betterthangrep.com
alias ack='ack-grep'
alias erln='erl -noshell'
alias ns='netstat -tulpen | grep '

GITHUB="https://github.com/furyan87"

if `which google-chrome > /dev/null`; then
	alias gh="google-chrome $GITHUB >/dev/null 2>&1"
else
	alias gh="open $GITHUB"
fi
