#Hashes

hash -d dev=~/dev/

#Program aliases
alias l='ls -lah'
alias e='vim'
alias l='ls -lah'
alias g='git'


# ack is http://betterthangrep.com
alias ack='ack-grep'
alias erln='erl -noshell'
alias ns='netstat -tulpen | grep '

GITHUB="https://github.com/furyan87"

if `which google-chrome > /dev/null`; then
	alias gh="google-chrome $GITHUB >/dev/null 2>&1"
else
	alias gh="open $GITHUB"
fi

#Funny aliases
alias wtf='dmesg'
alias onoz='cat /var/log/errors.log'
alias rtfm='man'

alias visible='echo'
alias invisible='cat'
alias moar='more'
alias tldr='less'
alias alwayz='tail -f'

alias icanhas='mkdir'
alias gimmeh='touch'
alias donotwant='rm'
alias dowant='cp'
alias gtfo='mv'
alias nowai='chmod'

alias hai='cd'
alias iz='ls'
alias plz='pwd'
alias ihasbucket='df -h'

alias inur='locate'
alias iminurbase='finger'

alias btw='nice'
alias obtw='nohup'

alias nomz='ps -aux'
alias nomnom='killall'

alias byes='exit'
alias cya='reboot'
alias kthxbai='halt'


