[diff]
	color = auto
	rename = copy

[pager]
	color = true

[status]
	color = true

[alias]
	pom = push origin master
[user]
	name = Stephen Prochnow
	email = stephen.prochnow@googlemail.com
[color]
	diff = auto
[core]
	excludesfile = /home/stephen/.gitignore
