[diff]
	color = auto
	rename = copy
  tool = diffmerge
[pager]
	color = true
[status]
	color = true
[user]
	name = Stephen Prochnow
	email = stephen.prochnow@virtual-solution.com
[color]
	diff = auto
[core]
  autocrlf = input
	excludesfile = ${HOME}/.gitignore
[log]
  decorate = full
[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
  gpr = pull --rebase
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  ffs = flow feature start
  fff = flow feature finish
	pom = push origin master
  rbi = rebase -i
  rh = reset --hard
[commit]
	template = /Users/sprochnow/.git_commit_template
